<f:be.container loadJQuery="false">
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    <f:be.buttons.csh />
                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:action.dashboard')}" controller="Module" action="dashboard" />
                        <f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:action.edit')}" controller="Module" action="edit" />
                        <f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:action.settings')}" controller="Module" action="settings" />
                    </f:be.menus.actionMenu>
                </div>
                <div class="right">
                    <f:be.buttons.shortcut />
                </div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left">
                    <button name="tx_yoastseo_web_yoastseoseoplugin[submit]" class="btn btn-default btn-sm " value="Save" title="Save" form="editYoastSettings">
                        <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save" data-identifier="actions-document-save">
                        </span>
                        Save
                    </button>
                </div>
                <div class="right">
                    <f:be.pageInfo />
                </div>
            </div>
        </div>

        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:render section="Content" />
            </div>
        </div>
    </div>
</f:be.container>
